<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(234, 47, 157, 0.7338585092240021) 37%, rgba(0, 212, 255, 1) 100%);
            color: white;
        }
        a{
            color: white;
        }
    </style>
</head>
<body>
    <% if (messages && messages.success_msg) { %>
        <script>
            alert('<%= messages.success_msg %>');
        </script>
        <% } %>
    <h1>Dashboard</h1>
    <p>Welcome, <%= name %>! Your role is <%= role %>.</p>
    <% if (role === 'admin') { %>
        <p><a href="/admin">Admin Dashboard</a></p>
    <% } %>
    <p><a href="/users/logout">Logout</a></p>
</body>
</html>
